@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');


$primary-font : "Montserrat", sans-serif;
$secondary-font : "Permanent Marker", cursive;
$primary-color: #E4BC99;
$secondary-color: #ff9252;

@mixin CenterXY(){
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}