@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');

:root{
    --primary-font : "Montserrat", sans-serif;
    --seconday-font : "Permanent Marker", cursive;
    --primary-color: #E4BC99;
    --secondary-color: #ff9252;
}
